body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #fffaf6;
    color: #5a4034;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2e0d0;
    padding: 15px 40px;
    border-bottom: 2px solid #d2b59d;
}

h2 {
    text-align: center;
}
.ci{
 display: flex;
    justify-content:space-around;
    gap: 10px;
    text-decoration: none;

}
.ci a {
text-decoration: none;
}
.productos {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0% auto;
    gap: 10px;
}

.card {
    background: #fff;
    border: 1px solid #ead6c4;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.card img {
    width: 100%;
}

.card h3 {
    margin: 5px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
}